@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}

.main-container {
  background-color: #fff;
  display: flex;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.sidebar-container {
  flex: 0 0 250px; /* Adjust the width of the sidebar as needed */
}

.scrollable-content {
  border-radius: 25px 25px 0 0;
  background-color: rgb(236, 236, 236);
}
