.tableDomain {
  margin-top: 25px;
}

.columnAction {
  display: flex;
  gap: 7px;
  font-size: 1.2rem;

  .editButton {
    color: rgb(0, 102, 255);
    background-color: rgba(0, 102, 255, 0.15);
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgba(0, 102, 255, 0.25);
    }
  }

  .deleteButton {
    color: rgba(255, 0, 0, 0.938);
    background-color: rgba(255, 0, 0, 0.15);
    transition: all ease-in-out 0.2s;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgba(255, 0, 0, 0.25);
    }
  }
}

.formContainer {
  margin-top: 25px;

  p {
    margin-bottom: 5px;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;

    Input {
      width: 65%;
    }

    .select {
      width: 65%;
    }

    p {
      color: red;
      width: 30%;
    }
  }
}
